<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/static/imagesAlzheimers/logo.png">

	<title>Alzheimer's Disease Prediction Wep</title>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="/static/cssAlzahiemers/stylesGame.css">

</head>
<body>
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top  header-transparent ">
    <div class="head d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="#"><img src="static/imagesAlzheimers/logo.png" alt="" class="img-fluid"> Alzheimer's Disease Prediction </a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
           <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-expanded="false" title="Home">HOME</a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="nav-link scrollto active" href="{{url_for('alzhiemerhome')}}">Home</a></li>
                <li><li><a href="/">ProHealth360</a></li></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="{{url_for('aboutAlzhiemer')}}">About Us</a></li>
            <li><a class="nav-link scrollto" href="{{url_for('classifier')}}">Alzheimer's Disease Classifier</a></li>
            <li><a class="nav-link scrollto" href="{{url_for('faqsAlzhiemer')}}">FAQS </a></li>
            <li><a class="nav-link scrollto" href="{{url_for('game')}}">Memory Game </a></li>
            <!-- Add this line for Alzheimer's news -->
            <li><a class="nav-link scrollto" href="https://news.google.com/search?q=Alzheimer's" target="_blank">News</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-------------------------------- Memory Game ------------------------------------------------------------->
	<div class="main-container">

		<div class="score-board">
			<h1 class="score">Live Score :</h1>
			<div class="score-count">
				<h1 class="score">0</h1>
			</div>
		</div>

		<div class="grid">
			
			<div class="row-1">

				<div>
					<button class="btn btn-hover">

						<img src="/static/imagesAlzheimers/img_app/donut.png" alt="">
					</button>
				</div>

				<div>
					<button class="btn btn-hover">

					<img src="/static/imagesAlzheimers/img_app/burger.png" alt="">
				</button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/pizza.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_apps/ice-cream.png" alt=""></button>
				</div>

			</div>


			<div class="row-1">

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/milkshake.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/noodles.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/fried-chicken.png" alt=""></button>
				</div>

			</div>

			<div class="row-1">

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/milkshake.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

			</div>

			<div class="row-1">

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

				<div>
					<button class="btn btn-hover">
					<img src="/static/imagesAlzheimers/img_app/muffin.png" alt=""></button>
				</div>

			</div>

			<button class="restart">Play Again</button>

		</div>


	</div>


	<!-- JS Scripts -->
	<script src="/static/jsAlzaheimers/app.js"></script>
	<!-- Vendor JS Files -->
	<script src="static/Alzheimersvendor/aos/aos.js"></script>
	<script src="static/Alzheimersvendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
</body>
</html>